* {
	font-family: 'BIZ UDPGothic', sans-serif;
	font-family: 'Sawarabi Gothic', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}

body {
	margin: 0;
}

img {
	width: 100%;
}

h1, dl, ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

dt {
	font-weight: bold;
}

p {
    display: inline;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
	text-decoration: none;
	/*color: #000;*/
}

ul {
	list-style: none;
	padding-inline-start: 0;
}

.check-box input, .check-box label {
	cursor: pointer;
}

/*ナビゲーション*/
.gloval-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 10px 5%;
	background-color: #fff;
	box-shadow: 0px 5px 5px -6px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	z-index: 1000;
}

.gloval-nav .logo-img {
	width: 75px;
	transition: all 0.3s;
}

.logo-img:hover, .footer-logo:hover {
	opacity: 0.7;
}

.gloval-nav .list-item {
	display: flex;
	user-select: none;
}

.gloval-nav .list-item .item {
	display: block;
	margin-right: 15px;
	padding: 10px;
	border: 1px solid #fff;
	transition: all 0.3s;
}

.gloval-nav .list-item .item:hover {
	border-color: #000;
}

.gloval-nav .list-item .item:last-child {
	margin-right: 0;
}

.drop-down {
	position: relative;
	border: 1px solid #fff;
	transition: all 0.3s;
	cursor: pointer;
	font-size: 14px;
	color: #000;
}

.drop-down #button {
	padding: 10px;
}

.drop-down #button.range-expansion::after {
	content: "";
	width: 100%;
	height: 100%;
	cursor: default;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.drop-down ul {
	position: absolute;
    display: none;
	padding-top: 10px;
	z-index: 101;
}

.drop-down ul.active {
	display: block;
}

.drop-down ul a {
	display: block;
	margin-top: 10px;
	margin-right: 0;
	padding: 10px 50px 10px 5px;
	background-color: #fff;
	border: 1px solid #000;
	transition: all 0.3s;
	color: #000;
}

.drop-down:hover {
	border-color: #000;
}

.drop-down ul a:hover {
	background-color: #000;
	color: #fff;
}

.main-area {
	padding-top: 50px;
}

.main-area.full-height {
	height: 100vh;
}

.main-area .content-wrapper {
	width: 70%;
	margin: 0 auto;
}

.form-section {
	padding-top: 5vh;
	padding-bottom: 20vh;
}

.contact-form label {
	user-select: none;
}

.contact-form input, .contact-form label, .contact-form textarea {
	font-size: 16px;
}

.checked-list li {
	font-size: 16px;
	list-style-type: "・ ";
    padding-left: 1em;
    text-indent: -1em;
}

.item-wrapp p {
	font-size: 16px;
}

.contact-form dl > * + * {
	margin-top: 20px;
}

.contact-form dl .item-wrapp {
	display: grid;
	grid-template-columns: 20% 80%;
	background-color: #f7f7f7;
    padding: 5vh 1.5vw;
}

.contact-form dl .item-wrapp.fix-center {
	align-items: center;
}

.contact-form dl dt .require {
	display: block;
	font-size: 14px;
	font-weight: normal;
	color: indianred;
}

.contact-form dl dd {
	margin-left: 5vw;
	display: inline-flex;
}

.contact-form dl dd .check-box > * + * {
	margin-top: 10px;
}

.contact-form dl dd textarea {
	width: 100%;
	resize: none;
	background-color: #fff;
}

.contact-form dl dd input.text-box {
	width: 60%;
} 

.contact-form dl dd textarea, .contact-form dl dd input {
	border: 1px solid #333;
	padding: 5px 10px;
}

.contact-form .btn-box.single {
	display: flex;
	justify-content: center;
}

.contact-form .btn-box {
	width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1vw;
	margin: 0 auto;
}

.contact-form .btn-box.single, .contact-form .btn-box {
	margin-top: 50px;
}

.contact-form .btn {
	border: 1px solid #333;
	transition: all 0.3s;
}

.contact-form .btn-box.single .btn {
	width: 50%;
}

.contact-form .btn:hover {
	background-color: #006eb6;
	color: #fff;
}

/*確認画面*/
.contact-form .checked-list {
	list-style: disc;
	list-style-position: inside;
}

.link-top {
	display: block;
	width: fit-content;
	margin-top: 1vh;
	font-size: 14px;
	color: #006eb6;
	border-bottom: 0.5px solid #fff;
	transition: border-color 0.3s;
}

.link-top:hover {
	border-color: #006eb6;
}

.title-text_box {
    border-bottom: 1.7px solid #6F6F6F;
    padding-top: 5vh;
    padding-bottom: 3vh;
}